{% extends 'base.html' %}

{% block title %}回覧板{% endblock title %}
{% block h1 %}回覧版{% endblock %}

{% block content %}
    {% for item in kairanban_items %}
        <div class="p-2 m-2 bg-light border border-success rounded">
            <h5>【回覧板】</h5>
            <h4 class="text-success">{{ item.title }}</h4>
            <h6>投稿日 {{ item.created_at }}</h6>
            <div class="mt-3">
                <a href="{% url 'detail-jsns' item.pk %}">詳細へ</a>
            </div>
        </div>
    {% endfor %}

{% endblock content %}